.container {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border: 2px solid;
    border-radius: 20px;
}

.innerContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}